/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILS */

.container {
  width: 1080px;
  margin: 0 auto;
  padding: 0;

  /* debug 
  border: 1px dashed black;
  background-color: aquamarine;*/
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  color: #e53170;
  padding: 15px 0;
}

.intro {
  text-align: center;
  padding: 30px 0;
}

.row {
  margin: 0 -1rem;
}

.col-1-3 {
  float: left;
  width: calc(100% / 3);
  padding: 1rem;
  /* debug 
  border: 1px dashed red;*/
}

.card {
  height: 100px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 5px 5px #dfdfde;
}

.card img {
  float: left;
  height: 100%;
  margin-right: 15px;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.text {
  font-size: 1rem;
  line-height: 2rem;
}

.mail {
  color: #2bbaf2;
  text-decoration: none;
}
